 .FlexFunction {
     
     display: flex;
     width: 1500px;
     height: 700px;
     background-color:rgb(255, 255, 255);
     border: 0px solid;
     flex-direction:row;
     justify-content:center;
     align-items:center;
                
                }
.FlexBox {
    
    /* display: flex; */
    width: 400px;
    height: 500px;
    border: 0px none black;
    box-shadow: 5px 5px 1px #959695;
    font-size: 18px;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    align-items: center;

                }

.Center {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0px;

                }

.Formcenter {
    flex-direction: row;
    display: inline-block;
    align-items: center;
    justify-content: center;
    
                }

.Bordernhomatkhau {
    background-color:rgb(174, 168, 157);
}

.button{
    padding:15px 32px;
    border-radius: 15px; 
    text-align:center;
    cursor: pointer;
    
}

